pipeline/Transform_movie_history_data.json
{
	"name": "Transform_movie_history_data",
	"properties": {
		"activities": [
			{
				"name": "Get Folder Details",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_movie_history_bronze",
						"type": "DatasetReference",
						"parameters": {
							"ds_file_date": {
								"value": "@pipeline().parameters.file_date",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "If Folder Exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Folder Details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Folder Details').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Send Email error",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/a.cotelo@axazure.com/databricks-course/movie-history/utils/02.mail_error"
							},
							"linkedServiceName": {
								"referenceName": "LKS_Databricks",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "01 transform results_movie_genre_language",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/a.cotelo@axazure.com/databricks-course/movie-history/Transform/01.results_movie_genre_language",
								"baseParameters": {
									"file_date": {
										"value": "@formatDateTime(pipeline().parameters.file_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LKS_Databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "02 transform results_country_prod_company",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/a.cotelo@axazure.com/databricks-course/movie-history/Transform/02.results_country_prod_company",
								"baseParameters": {
									"file_date": {
										"value": "@formatDateTime(pipeline().parameters.file_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LKS_Databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "03 transform results_group_movie_genre",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/a.cotelo@axazure.com/databricks-course/movie-history/Transform/03.results_group_movie_genre",
								"baseParameters": {
									"file_date": {
										"value": "@formatDateTime(pipeline().parameters.file_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LKS_Databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "04 transform results_group_movie_country",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/a.cotelo@axazure.com/databricks-course/movie-history/Transform/04.results_group_movie_country",
								"baseParameters": {
									"file_date": {
										"value": "@formatDateTime(pipeline().parameters.file_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LKS_Databricks",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"file_date": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Curso_DATABRICKS"
		},
		"annotations": [],
		"lastPublishTime": "2025-06-07T18:37:40Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}